# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Packaging
*.egg-info/
build/
dist/

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Optional generated figures
*.png
*.pdf
test_env/
